body {
     background-color: white;
     color:red;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

li {
    font-family: Times New Roman, serif;
}

p {
    text-align: justify;
}